body {
  background-color: #181717;
  color: #181717;
  font-family: 'F1 Display', sans-serif;
  padding-top: 40px;
}

.contact-form-container {
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px #181717;
  max-width: 700px;
  margin: 10px auto;
  z-index: +1; /* Set a lower z-index for the rectangle */
}

.contact-form label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background-color: black;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 12px;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;

}

.contact-form button:hover {
  background-color: transparent;
  border-style: solid;  color: black;
  font-weight: bold;
  border-width: 2px;
  box-shadow: 0px 4px 15px #989B99;

}



.hidden-field {
  display: none;
}

.header h1 {
  font-family: "Ethnocentric", sans-serif;
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
}

.headersub {
  text-align: center;
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .contact-form-container {
    padding: 20px;
  }

  .contact-us {
    padding: 20px;
  }
  .header h1 {
    font-size: 24px;
  }
  .headersub {
    font-size: 14px;
  }
}


.g-recaptcha {
  padding-top: 10px;
}

.g-recaptcha-container {
  display: flex;
  justify-content: center;
}


.contact-us {
  position: relative;
  background: #9c9c9c;
  overflow: hidden;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px #181717;
  max-width: 700px;
  margin: 30px auto;
  z-index: 0; /* Set a lower z-index for the rectangle */
  margin-bottom: 60px;
}

.contact-us:before {
  position: absolute;
  content: "";
  bottom: -50px;
  left: -100px;
  height: 250px;
  width: 400px;
  background: #444b4b;
  transform: rotate(25deg);
  overflow: hidden;
  z-index: -1; /* Set a lower z-index for the rectangle */


}

.contact-us:after {
  position: absolute;
  content: "";
  bottom: -80px;
  right: -100px;
  height: 270px;
  width: 400px;
  background: #242424;
  transform: rotate(-25deg);
  overflow: hidden;
  z-index: -1; /* Set a lower z-index for the rectangle */

}








/* Estilos del overlay para cubrir toda la pantalla */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #181717a8;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Estilo de la animación del spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ffffff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
