

@font-face {
    font-family: "Ethnocentric";
    src: url(./assets/ethnocentric\ rg.otf);
}

@font-face {
    font-family: "F1 Display";
    src: url(./assets/Formula1\ Display\ Regular.ttf);
}



.mordekaiser {
    padding-top: 1000px;
}

.swain {
    padding-top: 200px;
}

.t1tle {
    padding-top: 15%;
    font-family: "Ethnocentric";
    text-align: center;
    font-size: 104px;
    padding-bottom: 100px;
    color: #ffffff;
}

.t2tle {
    padding-top: 10%;
    font-family: "Ethnocentric";
    text-align: center;
    font-size: 70px;
    padding-bottom: 100px;
    color: #ffffff;
}


table {
    border-collapse: collapse;
  }
  
  td {
    padding: 10px;
    text-align: center;
  }

  td img {
    width: 460px; /* Adjust the width for the first row */
    height: 320px; /* Adjust the height for the first row */
  }
  
  /* Decrease the size of images in the second row */
  tr:nth-child(2) td img {
    width: 340px; /* Adjust the width for the second row */
    height: 200px; /* Adjust the height for the second row */
  }
  
.ups {
    padding-left: 20%;
}

  /* Decrease the size of images in the third row */
  tr:nth-child(3) td img {
    padding-top: 30px;
    width: 240px; /* Adjust the width for the third row */
    height: 100px; /* Adjust the height for the third row */
  }



.carousel-inner img {
    margin: auto;
  }


.Iñaki {
    width: auto;
    height: 320px;
    display: block;
    margin: auto;
}

.IñakiTitulo {
    font-family: "Ethnocentric";
    text-align: center;
    font-size: 175%;
    color: #ffffff;
}

.IñakiTexto {
    font-family: "Ethnocentric";
    text-align: center;
    color: #ffffff;
}

.Javier {
    width: 240px;
    height: 320px;
    display: block;
    margin: auto;
}

.JavierTitulo {
    font-family: "Ethnocentric";
    text-align: center;
    font-size: 175%;
    color: #ffffff;
}

.JavierTexto {
    font-family: "Ethnocentric";
    text-align: center;
    color: #ffffff;
}

.Adrian {
    width: 240px;
    height: 320px;
    display: block;
    margin: auto;
}

.AdrianTitulo {
    font-family: "Ethnocentric";
    text-align: center;
    font-size: 175%;
    color: #ffffff;
}

.AdrianTexto {
    font-family: "Ethnocentric";
    text-align: center;
    color: #ffffff;
}

.Miguel {
    width: 240px;
    height: 320px;
    display: block;
    margin: auto;
}

.MiguelTitulo {
    font-family: "Ethnocentric";
    text-align: center;
    font-size: 175%;
    color: #ffffff;
}

.MiguelTexto {
    font-family: "Ethnocentric";
    text-align: center;
    color: #ffffff;
}

.Oscar {
    width: 240px;
    height: 320px;
    display: block;
    margin: auto;
}

.OscarTitulo {
    font-family: "Ethnocentric";
    text-align: center;
    font-size: 175%;
    color: #ffffff;
}

.OscarTexto {
    font-family: "Ethnocentric";
    text-align: center;
    color: #ffffff;
}

.Pato {
    width: 240px;
    height: 320px;
    display: block;
    margin: auto;
}

.PatoTitulo {
    font-family: "Ethnocentric";
    text-align: center;
    font-size: 175%;
    color: #ffffff;
}

.PatoTexto {
    font-family: "Ethnocentric";
    text-align: center;
    color: #ffffff;
    
}

.Heimendinger {
    width: 350px;
    height: auto;
    border: 5px solid #000;
    margin-left: 180px;
    margin-top: 320px;
    float: left;
}

#AlexisPht{
    width: 342px;
    height: auto;
}

.HeimeTitulo {
    float:left;
    margin-left: 15px;
    padding: 85px;
    margin-top: 220px;
    font-family: "Ethnocentric";
    font-size: 39px;
    text-align: center;
    color: #ffffff;
}

.HeimeTexto {
    margin-top: -180px;
    float:left;
    padding: 100px;
    font-family: "F1 Display";
    font-size: 29px;
    text-align: center;
    padding-left: 55px;
    color: #ffffff;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    width: 40px; /* Ancho y alto iguales para formar un círculo */
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%; /* Hace que el botón sea circular */
    padding: 0; /* Elimina el espacio interior */
    fill: black; /* Color de la flecha en estado normal */
    background-color: rgb(255, 255, 255);
  }
  
  #myBtn:hover {
    background-color: rgb(0, 0, 0); /* Añade un fondo gris oscuro al hacer hover */
  }