html {
    scroll-behavior: smooth;
  }

  #container{
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

@font-face {
    font-family: "Ethnocentric";
    src: url(./assets/ethnocentric\ rg.otf);
}

@font-face {
    font-family: "F1 Display";
    src: url(./assets/Formula1\ Display\ Regular.ttf);
  }

body {
  background-color: #181717;
    font-family: 'F1 Display';

}

.titlef1sc {
  margin-top: 5%;
}

.navbar {
    background-color: rgba(24, 23, 23, 0.85);
    height: 55px;
}

.navbar {
    transition: transform 0.5s ease; /* Transition for both appearance and disappearance */
  }
  
  .navbar.hidden {
    transform: translateY(-100%);
  }
  
  .navbar.visible {
    transform: translateY(0);
  }

.navbar-brand img {
    height: 30px;
    width: auto;
    margin-right: 0px;
    align-items: center;
    margin-bottom: 6px;
}

.navbar-nav .nav-link {
    color: white;
}

.dropdown-menu {
    background-color:#18171790;
}

.navbar-toggler-icon {
    color: white;
}

.logotxt {
    font-family: "Ethnocentric";
    color: white;
    font-size:22px;
    align-items: center;
}

.nav-link {
    font-family: "F1 Display";
    font-size: 12px;
    color: white;
    margin-right: 25px;
}

/* myBtn.js */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 40px; /* Ancho y alto iguales para formar un círculo */
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%; /* Hace que el botón sea circular */
  padding: 0; /* Elimina el espacio interior */
  fill: black; /* Color de la flecha en estado normal */
  background-color: rgb(255, 255, 255);
}

#myBtn:hover {
  background-color: rgb(0, 0, 0); /* Añade un fondo gris oscuro al hacer hover */
}

  

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

  *{
      margin:0;
      padding:0;
      box-sizing: border-box;
  }
  .container{
      max-width: 1170px;
      margin:auto;
  }
  .row{
      display: flex;
      flex-wrap: wrap;
  }
  ul{
      list-style: none;
  }

  .SponsorsDivider {
    margin-bottom: 5%;
  }

  .wtsp {
    margin-top: 2.5%;
    display: grid;
    font-family: "F1 Display";
    font-size: 16px;
    color: white;
    justify-content: right;
  }
  
  .wtsp a {
    color: inherit;
    text-decoration: none;
  }

  .titlesponsors {
    margin-bottom: 4%;
    font-family: "Ethnocentric";
    color: white;
    font-size:30px;
  }
  